{% extends 'website/base.html' %}
{% load static %}

{% block title %}Home - VerlichteEnergie{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mb-4">
            <h1>Welkom bij VerlichteEnergie</h1>
            <p class="lead">Samen werken aan een duurzame toekomst in Sidhadorp, Lelystad</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>Zonnepanelen</h3>
            <p>Ontdek de voordelen van gezamenlijke inkoop van zonnepanelen.</p>
        </div>
        <div class="col-md-4">
            <h3>Energiedeling</h3>
            <p>Deel overtollige energie met uw buren in onze energiegemeenschap.</p>
        </div>
        <div class="col-md-4">
            <h3>Verduurzaming</h3>
            <p>Krijg advies over het verduurzamen van uw woning.</p>
        </div>
    </div>
</div>
{% endblock %}